################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEndInfrsastructure/obj
/.vs
/WebApiExample/bin/Debug/net8.0
/WebApiExample/obj
/BackEndInfrsastructure/bin/Debug/net8.0
/Migrations.Oracle/bin/Debug/net8.0
/Migrations.Oracle/obj/Debug/net8.0
/Migrations.SQL/bin/Debug/net8.0
/Migrations.SQL/obj/Debug/net8.0
/WebApiExample.DB/bin/Debug/net8.0
/WebApiExample.DB/obj/Debug/net8.0
/Migrations.Oracle/obj
/Migrations.SQL/obj
/WebApiExample.DB/obj
/WebApiExample/appsettings.Development.json
/IDGF.Core/bin/Debug/net8.0
/IDGF.ReverseProxy/obj
/IDGF.Core/obj/Debug/net8.0/ref
/IDGF.Core/obj/Debug/net8.0/refint
/IDGF.Core/obj
/IDGF.ReverseProxy/bin
/IDGF.Core/obj/Debug/net8.0/IDGF.Core.AssemblyInfoInputs.cache
/IDGF.Core/obj/Debug/net8.0/IDGF.Core.AssemblyInfo.cs
/obj/Docker
/obj/Debug
/IDGF.Core/IDGF.Core.csproj.user
/IDGF.ReverseProxy/IDGF.ReverseProxy.csproj.user
/WebApiExample/IDGF-Auth.csproj.user
/InfrastractureImplemention.slnLaunch.user
/IDGF.Core/bin/Release/net8.0
/WebApiExample/bin/Release/net8.0
/WebApiExample/Properties/PublishProfiles
/WebApiExample.DB/bin/Release/net8.0
/Migrations.SQL/bin/Release/net8.0
/IDGF.Core/Properties/PublishProfiles
/BackEndInfrsastructure/bin/Release/net8.0
/IDGF.Core/IDGF.Core.csproj.user
/IDGF.ReverseProxy/Properties/PublishProfiles
